body{
    background: black;
}

.nav-link {
    
}































   
        #bg-image {
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
        }
    